@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgba(255, 138, 4, 0.863);
    font-family: "poppins", sans-serif;
    font-size: 12pt;
}


/* form */

form {
    width: 400px;
    margin: 150px 0px;
    border-radius: 20px;
    background: transparent;
    box-shadow: 0px 0px 20px 10px rgba(255, 70, 37, 0.267);
}


/* heading of form */

.heading {
    color: rgb(187, 51, 27);
    font-size: 20pt;
    margin: 30px 0px 10px 0px;
}


/* inputs of forms */

input {
    width: 260px;
    margin: 5px;
    padding: 8px;
    color: rgb(77, 20, 10);
    border: none;
    border-radius: 7px;
    font-family: "poppins", sans-serif;
}

input:focus {
    outline: none;
    width: 300px;
    transition: .3s;
}

input::placeholder {
    color: rgb(170, 169, 169);
}


/* buttons of form */

#btn {
    cursor: pointer;
    box-shadow: -8px -8px 8px rgba(255, 70, 37, 0.267), 12px 12px 12px rgba(128, 36, 20, 0.24);
    color: rgb(110, 31, 17);
    background-color: rgb(255, 67, 34);
    width: 150px;
    font-weight: bold;
}

#btn:hover {
    border: none;
    color: rgb(255, 67, 34);
    background-color: rgb(110, 31, 17);
    transform: scale(1.1);
    transition: 0.3s ease-in;
}

p {
    padding: 0px 0px 20px 0px;
    color: rgb(110, 31, 17);
}

a {
    color: rgb(155, 45, 25);
    text-decoration: none;
    font-size: 11pt;
}

a:hover {
    color: rgb(110, 31, 17);
}